@tailwind base
@tailwind components
@tailwind utilities

// This family overrides tailwind's default styling, wasn't able to get this
// working purely in tailwind
html
	font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important

.blueOverlay
	background rgba(36, 43, 96, 0.79)

.backgroundImage
	width 100%

@media (min-width: 1024px)
	.backgroundImage
		width 50%
