@tailwind base;
@tailwind components;

h3 {
  @apply mb-2 text-lightGray uppercase tracking-wide .leading-loose;
}

h4 {
  @apply mb-2 text-lightBlue text-3xl .leading-loose;
}

.button {
  @apply inline py-3 px-1 rounded-sm text-white bg-lightBlue;
  font-size: 1.15reml;
}

.clipped {
  @apply bg-afpaGreen;
  background: url('./images/backgroundClip2.svg') no-repeat 0 100%;
  /* prevents margin collapse */
}
.featuredeventbackgroundimage {
  @apply w-full;
  min-height: 400px;
}

@media (min-width: 1024px) {
  .featuredEventBackgroundImage {
    @apply w-1/2;
  }
}

@tailwind utilities;
