@tailwind base;
@tailwind components;

$lightBlue: #008fc3;
$darkBlue: #242b5f;
$textGray: #a4a8b2;
$lightGray: #9b9b9b; /* 979797 */
$darkGray: #4a4a4a;
$backgroundGray: #f2f2f2;
$afpaGreen: #008560;
$textGreen: #19af6a;

h3 {
  @apply mb-1 text-lightGray uppercase tracking-widest leading-loose;
}

h4 {
  @apply mb-2 text-lightBlue text-3xl leading-loose;
}

h5 {
  @apply text-darkBlue text-2xl leading-loose;
}

h6 {
  @apply text-darkGray text-xl;
}

button {
  @apply inline py-3 px-8 rounded text-white text-base bg-lightBlue;
}

.darkButton {
  @apply bg-white border border-lightGray text-darkGray;
}

.darkButton:hover {
  @apply bg-darkBlue text-white;
}

.linearGradient {
  background: linear-gradient(
    to top,
    black,
    cubic-bezier(0.32, 0.59, 0.49, 0.73),
    transparent
  );
  pointer-events: none;
}

/**
 * Clipped backgrounds/borders
 */
.homePageWGClip {
  background: linear-gradient(10deg, transparent 55%, $afpaGreen 55%);
}

.resourcePageHeaderClip {
  background: linear-gradient(-5deg, $backgroundGray 40%, $lightBlue 40%);
}

/* TODO: debug why tw classes aren't being applied inline */
.featuredEventBackgroundImage {
  @apply w-full min-h-400;
}

@screen lg {
  .featuredEventBackgroundImage {
    @apply w-1/2;
  }
}

@tailwind utilities;
